.accordion-wrapper {
   margin: 6rem auto;
   width: 60%;
   display: flex;
   gap: 3rem;
}

.accordion {
   flex: 1;
   position: relative;
}

.btn-accordion {
   padding: 10px 15px;
   border-radius: 17px;
   background: none;
   border: .78px solid #eee;
   color: rgb(154, 150, 150);
   font-weight: bold;
   position: absolute;
   bottom: 0;
   cursor: pointer;
}

@media(max-width: 768px){
   .accordion-wrapper {
      flex-direction: column-reverse;
      width: 80%;
   }

   .btn-accordion {
      position: relative;
      margin-top: 2rem;
   }
   
}

.accordion h2 {
   color: rgb(36, 35, 35);
}
