@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,300&family=Poppins:wght@400;500&family=Roboto&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body{
   font-family: 'Poppins', sans-serif;
}

.link{
   text-decoration: none;
}

.single-post,.pricing-page {
   width: 80%;
   margin: 0px auto;
   min-height: 400px;
   padding-bottom: 6rem;
   padding-top: 1rem;
   display: flex;
   gap: 1rem;
}

.loading-screen {
   display: flex;
   justify-content: center;
   height: 500px;
   flex-direction: column;
   align-items: center;
}

.pricing-tag small{
   font-size: 12px;
   display: flex;
   align-self:center ;
   justify-content: center;
   color: #000000ba; 
}

.pricing-tag {
   width: 50%;
   margin: 0px auto;
   text-align: center;
   padding:  2rem 0px;
}

.blog-main{
   width: 80%;
   margin: 0px auto;
   min-height: 400px;
   padding-bottom: 6rem;
   padding-top: 3rem;
}

.blog-wrapper {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.blog-is-empty {
   display: flex;
   justify-content: center;
}

.about-container {
   width: 100%;
   margin: 0px auto;
   background:#ffa60080;
   height: 300px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.about-container h1 {
   font-size: 43px;
}


.card-link {
  text-decoration: none;
  font-size: 12px;
  color: #000000ba;
  padding: 5px;
}

.card-title {
   color: #000000ba;
   text-decoration: none;
}

.about-banner {
   width: 200px;
   margin-top: 2rem;   
}

.about-content{
   width: 90%;
   margin: 0px auto;
   margin-top: 1rem;
   font-size: 14px;
   margin-bottom: 5rem;
   color: #000000ba;
   font-weight: 400;
   line-height: 2;
}

.about-content span{
   font-weight: bold;
   font-size: 40px;
}

@media (min-width: 768px) {
   .about-container {
      width: 80%;
   }
   .about-content{
      width: 60%;
   }
}

.blog-is-empty h4 {
   font-size: 28px;
   color: #000000ba;
}

@media (max-width: 768px) {
   .blog-main{
      width: 90%;
   }
   .single-post {
      width: 90%;
   }   
}

.pricing-setter.button{
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;
}

.price-setter-main {
   background: #7f7c7c4a;
   padding: 1px;
   display: flex;
   border-radius: 8px;
   width: 150px;
}

.price-setter-main button {
   width: 100%;
   border: none;
   padding: 4px;
   border-radius: 8px;
}

.active {
   background: #7f7c7c4a;
}

.price-setter-main button:hover {
   background: #7f7c7c4a;
}

@media (max-width: 1024px) {
   .single-post,.pricing-page {
      display: flex;
      flex-direction: column;
   }

   .pricing-tag {
      width: 70%;
   } 
}

@media (max-width: 500px) {
   .pricing-tag {
      width: 90%;
   } 
}